RewriteEngine on


# PENGGUNA

RewriteRule ^Logout$ logout.php [nc]

# pengalamatan halaman

# halaman utama
RewriteRule ^([a-zA-Z_-]+)$ index.php?halaman=$1
RewriteRule ^([a-zA-Z_-]+)/$ index.php?halaman=$1 [nc]

# RewriteRule ^barang$ barang.php [nc]

# halaman detail atau lanjutan
RewriteRule ^produk/([a-zA-Z_-]+)/([0-9]+) index.php?halaman=$1&id_produk=$2


RewriteRule ^transaksi/bayarlagi/([a-zA-Z0-9_-]+) controllers/bayar-lagi.php?snapToken=$1

RewriteRule ^transaksi/status/([a-zA-Z0-9_-]+) controllers/cek-status.php?orderId=$1

RewriteRule ^transaksi/batalkanbayar/([a-zA-Z0-9_-]+) controllers/batalkan-bayar.php?orderId=$1

RewriteRule ^transaksi/notif controllers/notification-handler.php

RewriteRule ^transaksi/notapesanan/([a-zA-Z0-9_-]+) view/resi.php?orderId=$1

RewriteRule ^transaksi/controltransaksi/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) controllers/control-transaksi.php?orderId=$1&opsi=$2

# pesan
RewriteRule ^pesan/([0-9])$ index.php?halaman=pesan&admin=$1

# ADMIN

RewriteRule ^admin/login$ admin/l09in.php

RewriteRule ^admin/adastra$ admin/index.php
RewriteRule ^admin/adastra/$ admin/index.php

RewriteRule ^admin/adastra/([a-zA-Z0-9_-]+)$ admin/index.php?halaman=$1

# RewriteRule ^admin/tes/([a-zA-Z0-9_-]+)$ admin/tes.php?id=$1


RewriteRule ^admin/logout$ admin/controllers/logout.php

RewriteRule ^admin/login-control$ admin/controllers/login.php

RewriteRule ^admin/laporan-penjualan$ admin/controllers/laporan-penjualan.php
