RewriteEngine on

RewriteRule ^Logout$ logout.php [nc]

# pengalamatan halaman

# halaman utama
RewriteRule ^([a-zA-Z_-]+)$ index.php?halaman=$1

# halaman detail atau lanjutan
RewriteRule ^produk/([a-zA-Z_-]+)/([0-9]+) index.php?halaman=$1&id_produk=$2