RewriteEngine on


# PENGGUNA

RewriteRule ^Logout$ logout.php [nc]

# pengalamatan halaman

# halaman utama
RewriteRule ^([a-zA-Z_-]+)$ index.php?halaman=$1
RewriteRule ^([a-zA-Z_-]+)/$ index.php?halaman=$1 [nc]

# RewriteRule ^barang$ barang.php [nc]

# halaman detail atau lanjutan
RewriteRule ^produk/([a-zA-Z_-]+)/([0-9]+) index.php?halaman=$1&id_produk=$2


RewriteRule ^transaksi/bayarlagi/([a-zA-Z0-9_-]+) controllers/bayar-lagi.php?snapToken=$1

RewriteRule ^transaksi/batalkanbayar/([a-zA-Z0-9_-]+) controllers/batalkan-bayar.php?orderId=$1

RewriteRule ^transaksi/notif controllers/notification-handler.php




# ADMIN

RewriteRule ^admin/login$ admin/l09in.php
RewriteRule ^admin/dashboard$ admin/index.php


RewriteRule ^admin/logout$ admin/controllers/logout.php
RewriteRule ^admin/login-control$ admin/controllers/login.php