@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


input:focus,
button:focus,
textarea:focus,
option:focus {
    box-shadow: none !important;
}

/*=========== Bagian Login ========= */
#body-login {
    font-family: 'Roboto', sans-serif;
    color: #393939;
    font-weight: 400;
}

.konten-login {
    height: 100vh;
}

#body-login:before {
    content: "";
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: left top;
    display: block;
    background-image: url('../img/login.jpg');
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.blur {
    height: 100%;
    width: 100%;
    background-color: rgba(160, 160, 160, 0.192);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    border-radius: 2%;
    z-index: -1;

}

.form-login {
    overflow: hidden;
}

.form-login button {
    border-radius: 50px !important;
}

#form-login label {
    color: #9b9a9a !important;
}

#form-login .remember-me {
    color: #ffffff !important;

}

/*=========== end Bagian Login ========= */

.main-menu a {
    cursor: pointer;
}

.active,
.active>i {
    color: #03a9f3 !important;
}



table thead th {
    font-weight: 600 !important;
    padding: 0.5rem !important;
}

table thead th,
table tbody td {
    font-size: 0.9em;
}

.form-group label {
    font-size: 0.9rem !important;
}

@media (max-width:992px) {

    .gambar-login {
        display: none;
    }
}

.btn {
    border-radius: 30px !important;
}

#form-tambah-data-produk .modal-body,
#form-edit-data-produk .modal-body{
    max-height: 60vh;
    overflow-y: auto;
    width: 102%;
    padding-right: 0;
}

.modal-footer button {
    width: 100% !important;
}

.content {
    margin-right: -5px;
    background-color: #f1f2f7 !important;
    z-index: 2;
}

form textarea {
    font-size: 0.9rem !important;
}

@media (max-width:768px) {
    #right-panel {
        width: 100vw;
        margin: 0 !important;
    }

    #left-panel {
        max-width: 100%;
        width: 70vw !important;
    }

    .top-right {
        margin-top: 3.5rem;
    }
}

@media (max-width:576px) {}