@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


input:focus,
button:focus,
textarea:focus,
option:focus {
    box-shadow: none !important;
}

.tebal-600 {
    font-weight: 600 !important;
}

.text-ijo {
    color: rgb(80, 184, 46) !important;
}

.bg-ijo,
.btn-ijo {
    background-color: rgb(80, 184, 46) !important;
    /* background-image: linear-gradient(45deg, rgb(80, 184, 46), yellow) !important; */
}

.btn-ijo:hover {
    background-color: rgb(70, 160, 40) !important;
}

#notification i {
    font-size: 1.5em;
}


.modal-header h5 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

/*=========== Bagian Login ========= */
#body-login {
    font-family: 'Roboto', sans-serif;
    color: #393939;
    font-weight: 400;
}

.konten-login {
    height: 100vh;
}

#body-login:before {
    content: "";
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: left top;
    display: block;
    background-image: url('../img/login.jpg');
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.blur {
    height: 100%;
    width: 100%;
    background-color: rgba(160, 160, 160, 0.192);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    border-radius: 2%;
    z-index: -1;

}

.form-login {
    overflow: hidden;
}

.form-login button {
    border-radius: 50px !important;
}

#form-login label {
    color: #9b9a9a !important;
}

#form-login .remember-me {
    color: #ffffff !important;

}

/*=========== end Bagian Login ========= */

.main-menu a {
    cursor: pointer;
}

.modal-footer {
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
}

table thead th {
    font-weight: 600 !important;
    padding: 0.5rem !important;
}

table thead th,
table tbody td {
    font-size: 0.9em;
}

.form-group label {
    font-size: 0.9rem !important;
}

#form-tambah-data-produk .modal-body,
#form-tambah-data-promo .modal-body,
#form-edit-data-promo .modal-content .modal-body,
#form-edit-data-produk .modal-content .modal-body {
    max-height: 60vh;
    overflow-y: auto;
    width: 101.5%;
    padding-right: 0;
}

/* #form-edit-data-promo .modal-content .modal-body::-webkit-scrollbar{
    display: block !important;
} */

.modal-footer button {
    width: 100% !important;
}

.content {
    margin-right: -5px;
    background-color: #f1f2f7 !important;
    z-index: 2;
}

form textarea {
    font-size: 0.9rem !important;
}

.right-panel .breadcrumbs {
    margin-top: 0 !important;
    padding-top: 30px !important;
    background-color: #f1f2f7 !important;
}

#list-group-form-promo {
    cursor: pointer;
}

#list-group-form-promo:hover {
    background-color: chartreuse !important;
}

.card-body .button {
    cursor: default !important;
}

.send-mgs {
    margin-top: 20px;
    margin-bottom: 9px;
    position: relative;
}

.send-mgs .yourmsg {
    margin-right: 55px;
}

.send-mgs .yourmsg input {
    border: 1px solid #eceff1;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 7px;
}

.send-mgs .msg-send-btn {
    background: #03a9f3;
    color: #fff;
    font-size: 1.5em !important;
    border-radius: 7px;
    padding: 0;
    text-align: center;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.msg-send-btn {
    font-size: 1.5em;
}

.yourmsg input {
    background-color: #f6f6f67b;
}

.clear {
    clear: both;
}

.messenger-box .msg-received .inner-box {
    background-color: rgb(80, 184, 46);
}

.messenger-box .inner-box:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    width: 18px;
    height: 18px;
    border-style: solid;
    border-width: 9px;
    border-color: transparent rgb(80, 184, 46) transparent transparent;
}

.messenger-box .avatar img {
    max-width: 50px;
}

.send-time-sent,
.send-time-received {
    font-size: 0.6em !important;
    text-align: end;
    margin-top: -2px;
}

.op-none {
    opacity: 0;
}

#list-obrolan-pengunjung {
    height: 65vh;
    overflow-y: auto;
}

@media (max-width:992px) {

    .gambar-login {
        display: none;
    }

    #list-obrolan-pengunjung {
        max-height: 110px;
    }
}

.btn {
    border-radius: 30px !important;
}

@media (max-width:768px) {
    #right-panel {
        width: 100vw;
        margin: 0 !important;
    }

    #left-panel {
        max-width: 100%;
        width: 70vw !important;
    }

    .top-right {
        margin-top: 3.5rem;
    }

    #list-obrolan-pengunjung {
        max-height: 110px;
    }
}

/* 
@media (max-width:576px) {} */