@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #393939;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
}

#body-home {
    background-image: url('../img/bg/bg.png');
    background-position: right;
    /* height: 5000px; */
}
input{
    box-shadow: none !important;
}
/* custom */
.text-ijo {
    color: rgb(80, 184, 46) !important;
}

.bg-ijo,.btn-ijo {
    background-color: rgb(80, 184, 46) !important;
    /* background-image: linear-gradient(45deg, rgb(80, 184, 46), yellow) !important; */
}
.btn-ijo:hover{
    background-color: rgb(70, 160, 40) !important;
}

.btn-slide {
    padding: 0.5rem 1rem;
    border: none;
}

/* end custom */

/* ============== CSS All ============== */

.promo-content,
.produk-promo,
.produk-terbaru,
.produk-sejenis,
.produk-terlaris {
    overflow-x: auto;

}

.container-section {
    box-shadow: 0rem 0.1rem 0.3rem 0.1rem #00000015;
    background: rgba(255, 255, 255, 0.866);
    padding: 1.3rem;
    margin-bottom: 5vh;
}

.judul-section {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    margin-bottom: 2rem;
}

.btn-cart {
    position: relative;
    bottom: -15px;
    margin-top: -10px;
}

.btn-cart:hover {
    background-color: rgb(208, 208, 0) !important;
    color: #393939 !important;
}

.btn-cart i {
    color: azure;

}

/* ============== end CSS All ============== */





/* ============== navbar start ============== */
#navbar .logo-web img {
    max-width: 5rem !important;
}

#navbar .nav-user-profile {
    vertical-align: middle;
}

#navbar-show {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 2.4rem;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0rem 0rem 0.5rem 0rem #4d4d4d5f;
}

#navbar {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#navbar h1 {
    margin: 0;
}

#navbar a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: 400;
}

#navbar .navbar-nav .menu::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid rgb(26, 131, 0);
    transform: scaleX(0);
    transition: 0.2s linear;
}

#navbar .navbar-nav .menu:hover::after {
    transform: scaleX(0.7);
}

#navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    margin: 0;
}

#navbar ul li {
    display: inline-block;
    padding: 0rem 1rem;
}

.navbar-nav-extra {
    display: none;
    margin-left: -3vw;
}

.navbar-nav-extraul li {
    display: inline-block;
}

.navbar-nav-extra ul {
    margin: 0;
    padding: 0;
}

.navbar-nav-extra span {
    font-size: 0.65rem;
}

.navbar-nav-extra-menu {
    display: none;
}

.menu-nav {
    letter-spacing: 0.12rem;
    font-weight: 500 !important;
}

.search-input {
    border: 1px solid rgb(210, 210, 210);
    /* border: none; */
    background: white;
    outline: none;
    font-size: 14px;
    line-height: 40px;
    transition: 0.5s;
    color: black;
    border-radius: 50px;
    padding-left: 20px;
}

.spasi-header {
    padding-top: 5.5rem;
}

.navbar-nav-extra .active-mobile {
    color: white !important;
    background-color: rgb(80, 184, 46) !important;
}

/* ============== navbar end ============== */





/* ============== section home strat ============== */
#home,
#produk {
    padding-top: 5rem;
}

#home {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 85%, rgba(240, 185, 185, 0) 100%);

}

.circle-home {
    position: absolute;
    padding: 40rem 45rem;
    background-image: linear-gradient(45deg, rgb(80, 184, 46) 0%, yellow 100%);
    top: -50rem;
    right: -30rem;
    z-index: 0;
    border-radius: 30%;
    transform: rotate(-30deg);
}

.tagline {
    min-height: 80vh;
    z-index: 1;
}

.tagline h1 {
    mix-blend-mode: multiply;
    font-weight: 700 !important;
    color: rgb(2, 122, 48);
}

#home .cta a {
    font-weight: 600;
    /* background-color: rgb(1, 134, 52); */
    /* background: linear-gradient(180deg, rgb(80, 184, 46) 80%, rgb(38, 198, 32) 100%); */
    /* color: rgb(255, 240, 130); */

    background-color: green;
    color: white;
}

.tagline h1 span {
    background: linear-gradient(90deg, rgb(2, 122, 48) 0%, rgb(38, 198, 32) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700 !important;
    display: block;
    font-size: 4rem;
}

.opsi-login {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    box-shadow: 0rem 0.2rem 0.4rem 0rem #2323235a;
    transition: 0.2s;
    background-color: white;
}

.opsi-login:hover {
    transform: scale(1.02);
}

.slides::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.slides::-webkit-scrollbar:hover {
    cursor: grab;
}

.slides::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.slides>a {
    scroll-snap-align: start;
    flex-shrink: 0;
    padding-bottom: 1rem;
    margin: 0 10px 0 10px;
    background: #ffffff00;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 100%;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.buah img {
    width: 110%;
    margin-top: -2rem;
}

/* ============== section home end ============== */





/* ============== section promo start ============== */
#promo {
    /* background-image: linear-gradient(white, #e3e3e3); */
    margin: 5vh 0vh 0vh 0vh;
    padding: 10vh 0vh 0vh 0vh;
}

/* section promo end */

.panel-heading,
.panel-body {
    text-align: center;
    margin: 2rem 2rem;
}

.promo-content img {
    aspect-ratio: 25/9;
    max-height: 10rem;
    width: 100vw;
}


/* ============== end section promo start ============== */





/* ============== start section produk start ============== */
.bar-navigasi {
    width: 100%;
    height: 4.8rem;
    /* background: rgb(134, 222, 19); */
    background: rgba(247, 255, 236, 0.622);
    position: fixed;
    top: 0;
    z-index: 2;
}

.nama-produk {
    font-size: 1rem !important;
}

#toko-produk {
    margin: 0;
    padding: 0;
}

#toko-produk .img-toko-produk {
    height: 35vh;
    overflow: hidden;
}

#toko-produk .img-toko-produk img {
    width: 100vw;
    background-position: center;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(2px);
}

#toko-produk .img-toko-produk .overlay-img-toko-produk {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, rgb(196, 196, 196) 10%, rgba(59, 59, 59, 0.551) 100%); */
    background-color: #39393969;
}

.overlay-img-toko-produk h1 {
    padding: 1rem;
    font-weight: 600 !important;
    background-color: #4141417a;
    border: 5px solid white;
    margin-top: 4rem;
}

#produk .filter {
    width: 60vw;
    top: -2rem;
}

.filter-melayang {
    display: none;
}

.open-filter {
    display: block;
}

.filter .filter-search:hover {
    cursor: pointer;
}

#produk .filter input:focus,#produk .filter-melayang select:focus{
    box-shadow: none !important;
}

/* ============== end section produk start ============== */


/* ============== footer start ============== */
footer {
    background-color: #252525f4;
    padding-top: 2rem;
    color: white !important;
}

footer h5 {
    font-size: 1.1rem;
    font-weight: 600 !important;
    margin-bottom: 1.5rem;
}

footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.51);
    margin-top: 1.5rem;
    padding: 0.5rem 0;
}

footer .copyright span {
    font-size: 0.8rem;
}

/* ============== footer end ============== */






/* ============== keranjang start ============== */
#keranjang .list-item {
    border-bottom: 1.5px solid rgb(198, 198, 198);
}

#keranjang .list-item span,
.tagihan h5 {
    font-weight: 600 !important;

}

#keranjang .list-item .item-img {
    width: 100%;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}

#keranjang .page-link:focus {
    box-shadow: none !important;
    background: white;
}

.tagihan {
    position: sticky;
    top: 15vh;
    border: 1.5px solid rgb(198, 198, 198);
}

/* hilangkan panah pada input number */
/* chrome dan edge */
#keranjang input::-webkit-outer-spin-button,
#keranjang input::-webkit-inner-spin-button,
.keranjang-lihat-produk input::-webkit-outer-spin-button,
.keranjang-lihat-produk input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

/* Firefox */
#keranjang input[type=number],
.keranjang-lihat-produk input[type=number] {
    -moz-appearance: textfield;
    text-align: center;

}

.keranjang-kosong {
    padding-top: 5vh;
}

.keranjang-kosong img {
    height: 60vh;
}

.toast-footer .btn-info-cart {
    width: 100%;
    height: 100%;
    border: none;
    background: #ffffffb5;
}

.toast-footer .btn-info-cart:hover {
    background: #f0f0f0a2;
}

/* hilangkan panah pada input number */


/* ============== keranjang end ============== */





/* ============== lihat produk start ============== */

/* galeri */
#lihat-prouduk {
    box-sizing: border-box;
}

.galeri .mySlides {
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
    aspect-ratio: 1/1 !important;

}

.galeri .mySlides img {
    width: 100%;
    height: 100%;
}

.row-navigator .column {
    width: 5rem;
    overflow: hidden;
    aspect-ratio: 1/1 !important;
    padding: 0;
    margin: 0;
}

.row-navigator .column img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(193, 193, 193);

}

/* Position the image container (needed to position the left and right arrows) */
.galeri {
    position: relative;
}

/* Hide the images by default */
#lihat-produk .mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
#lihat-produk .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.galeri .prev,
.galeri .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

/* Position the "next button" to the right */
.galeri .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.galeri .prev:hover,
.galeri .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
#lihat-produk .numbertext {
    color: #555555;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
#lihat-produk .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

#lihat-produk .row-navigator {
    padding-left: 0.8rem;
}

#lihat-produk .row-navigator:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
#lihat-produk .column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
#lihat-produk .demo {
    opacity: 0.6;
}

#lihat-produk .active,
#lihat-produk .demo:hover {
    opacity: 1;
}

/* galeri end */




#lihat-produk .deskripsi .nama-produk {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}

#lihat-produk .deskripsi .harga-produk {
    font-size: 2rem !important;
    font-weight: 700 !important;

}

#lihat-produk .deskripsi .keterangan-produk {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border-top: 1px solid rgb(193, 193, 193);
    border-bottom: 1px solid rgb(193, 193, 193);

}

#lihat-produk .deskripsi p {
    text-align: justify;
}

.judul-konten {
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

.keranjang-lihat-produk .page-item input,
#keranjang .page-item input {
    border-radius: 0;
}

.keranjang-lihat-produk .page-item button:focus {
    box-shadow: none !important;
}

.keranjang-lihat-produk .konten {
    border: 1px solid rgb(193, 193, 193);

}

/* ============== lihat produk end ============== */









/* ============== Media break point ============== */

/* ============== layar besar ============== */
@media (max-width:1224px) {
    .tagline {
        min-height: 50vw;
    }

}






/* ============== leptop/ipad mode miring start ============== */
@media (max-width:992px) {
    #navbar ul li {
        padding: 0rem 0.5rem;
    }

    #navbar ul li a {
        font-size: 0.9rem;

    }

    .tagline {
        min-height: 60vw;
    }

    .circle-home {
        position: absolute;
        padding: 30rem 20rem;
        background-image: linear-gradient(45deg, rgb(80, 184, 46), yellow);
        top: -30rem;
        right: -4rem;
        z-index: 0;
        border-radius: 35%;
        transform: rotate(-30deg);
    }

    .search-input {
        max-width: 130px !important;
    }

    #toko-produk .img-toko-produk {
        height: 30vh;
    }

    #toko-produk .img-toko-produk img {
        width: auto !important;
        height: 100%;
        background-position: center;
    }

}

/* ============== lepptop end ==============*/





/* ============== tablet start ==============*/
@media (max-width:768px) {
    .navbar-nav-extra {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.236);
        padding: 1.3vh 0vh 1vh 0vh;
        border-radius: 18px 18px 0px 0px;
    }

    .navbar-nav-extra-menu {
        display: inline-block;
    }

    #navbar .container {
        position: relative;
    }

    .navbar-nav {
        position: absolute;
        right: -200%;
    }

    .tagline {
        min-height: 50vh;
    }

    .search-input {
        padding: 0;
        width: 0;
        opacity: 0;
    }

    .search-box:hover>.search-input {
        min-width: 50vw;
        border-radius: 50px;
        padding-left: 20px;
        background-color: #ffffff;
        transition: 0.5s;
        opacity: 1;
    }

    footer .copyright {
        margin-bottom: 3.6rem;
    }

}

/* ============== tablet end ============== */




/* ============== handpone start ============== */
@media (max-width:576px) {
    #home {
        background: #ffffff00 !important;
    }

    .circle-home {
        position: absolute;
        padding: 15rem 18rem;
        background-image: linear-gradient(45deg, rgb(80, 184, 46), yellow);
        top: -10rem;
        right: -6rem;
        z-index: 0;
        border-radius: 35%;
        transform: rotate(-30deg);
    }

    .tagline {
        padding-top: 4vh;
        min-height: 50vh;
    }

    .tagline h1 span {
        font-size: 2.5rem;
    }

    #home .row-tagline {
        flex-direction: column-reverse;
    }

    /* search */

    .search-box:hover>.search-input {
        width: 150px;
    }

    /* end search */
    .promo-content {
        /* scroll snap untuk efek scroll , bisa x dan y*/
        scroll-snap-type: x mandatory;
    }

    .promo-content img {
        /* posisi scoll bisa cenetr, strat atau end */
        scroll-snap-align: center;

    }



    /* efek scroll */
    .scroll-efek-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-efek-y {
        scroll-snap-type: y mandatory;
    }

    .item-scroll {
        scroll-snap-align: start;
        /* scroll-snap-align: center; */
        /* scroll-snap-align: end; */

    }

    .tombol-navigasi {
        display: none;
    }

    #produk .filter {
        width: 100% !important;
    }

    .buah img {
        width: 100%;
        margin-top: 0rem;
        margin-bottom: -4rem;
    }
}

/* ============== handpone end ============== */






/*costum scrollbar*/
.promo-content::-webkit-scrollbar,
.produk-promo::-webkit-scrollbar,
.produk-terbaru::-webkit-scrollbar,
.produk-sejenis::-webkit-scrollbar,
.produk-terlaris::-webkit-scrollbar {
    display: none;
}


/* animasi */

.bounce {
    animation: hu__hu__ infinite 4s ease-in-out
}

@keyframes hu__hu__ {
    0% {
        transform: translateY(5px)
    }
}
.badge.rounded-pill.bg-danger{
    display: none;
}